<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Leap Sign Language UI</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/renderjson.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 align='center'>Leap Sign Language Interpreter</h1>
    <h4 align='center'>Nicholas Frost, William Grant, Kien Nguyen, Parth Parikh</h4>
    <div>
        <input align='center' id="startBtn" type="button" value="Start" onclick="fire_request();" />
    </div>
    <div id="output"></div>
    <canvas id="display" width="800" height="400"></canvas>

    <script>
        function fire_request() {
            //renderjson.set_icons('++', '--');
            //renderjson.set_show_to_level(1);
            $.ajax({
                url: '/poll',
                dataType: 'json',
                success: function (data) {

                    var predictions = [],
                        probabilities = [];
                    for (var item in data) {
                        probabilities.push(item);
                    }


                    probabilities = probabilities.sort();
                    probabilities = probabilities.reverse();

                    console.log(probabilities);
                    for (var item in probabilities) {
                        console.log(item);
                        console.log(data[item]);
                        predictions.push(data[probabilities[item]]);
                    }



                    // $('#output').append(renderjson(probabilities));
                    //$('#output').append(renderjson(predictions));

                    $('#display').remove(); // this is my <canvas> element
                    $('#output').append('<canvas id="display" width="800" height="400"><canvas>');
                    var barData = {
                        labels: predictions,
                        datasets: [{
                            label: 'Percentage certainty in letter prediction',
                            fillColor: '#382765',
                            data: probabilities
                        }],
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontSize: 200
                                }
                            }]
                        }
                    };
                    var context = document.getElementById('display').getContext('2d');
                    var UIChart = new Chart(context).Bar(barData);
                    UIChart.update();
                    fire_request();
                }
            });
        }
    </script>

</body>

</html>
